:root{
    --color-primary: #f4392c;
    --color-primary-Darker: #cf2d22;
    --color-primary-Lighter: #fc4a3e;
    --color-secondary: #00d9ff;
    
}


html{
    font-size: 62.5%; 
   
 }

/* Header */
.header{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/images/Background.webp);
    background-position: center;
    background-size: cover;
   }

   /* navbar */

  .logo p{
    position: absolute;
    left: 105px;
    top: 35px;
    font-size: 3rem;
  }
  .logo img{
    padding-top: 12px;
    padding-left: 10px;
  }
  .navbar{
    top: 0;
    transition: top 0.3s;
  }
   
  .navbar-toggle {
    border: none;
    outline: none;
    
  }
  .navbar-toggler:focus {
    box-shadow: 0 0 0 0;
  }

  .navbar-toggler{
    opacity: 0.7;
    transition: opacity 0.5s;
  }
  
  .navbar-toggler:hover, .navbar-toggler:focus{
    opacity: 1;
    transition: opacity 0.5s;
  }
  
  .nav-item::after{
    content: '';
    width: 0;
    height: 2px;
    background:var(--color-primary) ;
    display: block;
    margin: auto;
    transition: 0.5s;

  }
  .nav-item:hover::after{
    width: 100%;
  }

  /* texts */

  h1{
    font-size: 3rem;
  }

  h2{
    font-size: 2rem;
  }
 
  p{
    font-size: 2rem;
  }

  @media screen and (min-width: 990px){
    h1{
      font-size: 4rem;
    }

    h2{
      font-size: 3rem;
    }
   
    p{
      font-size: 2.5rem;
    }
  }

  /* header_text */
  .header_text{
    width: 90%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
  .header_text h1{
    margin-bottom: 2rem;
  }
@media screen and (min-width: 990px){
  
  
    .header_text{
      width: 80%;
                
    }
 
    
}

.btn{
  background:var(--color-primary);
  border:var(--color-primary-Darker);
}
.btn:hover{
  background:var(--color-primary-Lighter);
  
}
.btn:active:focus{
  background:var(--color-primary-Darker);
  
}

/* Features */
.Features{
  width: 80%;
}
.Features img{
  width: 150px;
}
.col-lg:hover{
box-shadow: 0 0 20px 0px rgba(9, 9, 9, 0.2);
border-radius: 10px;

}

@media screen and (min-width: 990px){
  .Features img{
    width: 200px;
  }
}

/* Customer comments */
.grid{
  display: grid;
  grid-template-columns: repeat(1, minmax(200px, 2fr));
  grid-template-rows: repeat(1, minmax(200px, 2fr));
  
}

@media screen and (min-width: 990px){
  .grid{
    grid-template-columns: repeat(2, minmax(200px, 2fr));
  grid-template-rows: repeat(2, minmax(200px, 2fr));
  }
}
.comments .col{
  margin: 5px;
  background-color: rgba(244, 57, 44, 0.165);
  border-radius: 20px;
  }

.com_img{
  width: 50px;
}

@media screen and (min-width: 990px){
  .com_img{
    width: 70px;
  }
}