<section class="comments m-auto text-center pt-5">
  <h1>Our Customer comments</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <div class="container">
    <div class="grid mt-5 text-start">
      <div class="col p-4" data-aos="fade-right">
        <div class="d-flex mb-3">
          <img
            class="com_img justify-content-start me-3"
            src="/images/user.png"
            alt="user photo"
          />
          <h2 class="mt-4">Lorem ipsum dolor sit amet.</h2>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vero
          aliquam necessitatibus laudantium inventore eius aspernatur facere nam
          soluta magnam.
        </p>
        <p class="text-end font-weight-bold me-5 mt-5">User Name</p>
      </div>
      <div class="col p-4" data-aos="fade-left">
        <div class="d-flex mb-3">
          <img
            class="com_img justify-content-start me-3"
            src="/images/user.png"
            alt="user photo"
          />
          <h2 class="mt-4">Lorem ipsum dolor sit amet.</h2>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vero
          aliquam necessitatibus laudantium inventore eius aspernatur facere nam
          soluta magnam.
        </p>
        <p class="text-end font-weight-bold me-5 mt-5">User Name</p>
      </div>
      <div class="col p-4" data-aos="fade-right">
        <div class="d-flex mb-3">
          <img
            class="com_img justify-content-start me-3"
            src="/images/user.png"
            alt="user photo"
          />
          <h2 class="mt-4">Lorem ipsum dolor sit amet.</h2>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vero
          aliquam necessitatibus laudantium inventore eius aspernatur facere nam
          soluta magnam.
        </p>
        <p class="text-end font-weight-bold me-5 mt-5">User Name</p>
      </div>
      <div class="col p-4" data-aos="fade-left">
        <div class="d-flex mb-3">
          <img
            class="com_img justify-content-start me-3"
            src="/images/user.png"
            alt="user photo"
          />
          <h2 class="mt-4">Lorem ipsum dolor sit amet.</h2>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vero
          aliquam necessitatibus laudantium inventore eius aspernatur facere nam
          soluta magnam.
        </p>
        <p class="text-end font-weight-bold me-5 mt-5">User Name</p>
      </div>
    </div>
  </div>
</section>
