<section class="comments m-auto text-center pt-5">
  <h1>Our Customer comments</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <div class="container">
    <div class="row mt-5 row-cols-lg-2 row-cols-1 text-start g-5">
      <div class="col p-4">
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vero
          aliquam necessitatibus laudantium inventore eius aspernatur facere nam
          soluta magnam.
        </p>
      </div>
      <div class="col p-4">
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vero
          aliquam necessitatibus laudantium inventore eius aspernatur facere nam
          soluta magnam.
        </p>
      </div>
      <div class="col p-4">
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vero
          aliquam necessitatibus laudantium inventore eius aspernatur facere nam
          soluta magnam.
        </p>
      </div>
      <div class="col p-4">
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vero
          aliquam necessitatibus laudantium inventore eius aspernatur facere nam
          soluta magnam.
        </p>
      </div>
    </div>
  </div>
</section>
