<section class="Features m-auto text-center pt-5">
  <h1>Our Prodouct Features</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <div class="row pt-3">
    <div class="col-lg m-3">
      <img src="/images/Prodouct_Features_1.webp" alt="Prodouct_Features_1" />
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="col-lg m-3">
      <img src="/images/Prodouct_Features_2.webp" alt="Prodouct_Features_2" />
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="col-lg m-3">
      <img src="/images/Prodouct_Features_3.webp" alt="Prodouct_Features_3" />
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
</section>
